---
import logo from '../assets/atium_noBG.png';
import x from '../assets/x.svg';
import mail from '../assets/email.svg';
import github from '../assets/github.svg';
import linkedin from '../assets/linkedin.svg';
---

<div class="flex items-center justify-center p-20 flex-col gap-10">
	<div class="flex items-center justify-center gap-10 text-white text-4xl flex-col lg:flex-row">
		<img src={logo.src} alt="Logo" class="size-68">

		<div class='flex justify-start items-center flex-col gap-3'>
			<p class='font-bold text-6xl'>Miguel R. - Portfolio</p>
			<span class='text-left w-full text-slate-600'>@MikiDev</span>
		</div>
	</div>

	<section class="gap-10 grid place-content-center">
		<p class="text-xl text-slate-200">This web page is currently under construction. Please in the meantime visit one of my socials or write me an email :)</p>

		<nav class='flex items-center justify-center gap-10'>
				<a
					href='https://x.com/miguel_rbn'
					target='_blank'
					class='transition-all hover:scale-110'
				>
					<img src={x.src} class="size-16">
				</a>
				<a target="_blank" href='mailto:mjibarb30@gmail.com' class='transition-all hover:scale-110'>
					<img src={mail.src} class="size-16">
				</a>
				<a target="_blank" href='https://github.com/Roky3029/Roky3029' class='transition-all hover:scale-110'>
					<img src={github.src} class="size-16">
				</a>
				<a target="_blank" href='https://www.linkedin.com/in/miguel-rabasco-bernab%C3%A9-02a68834b/' class='transition-all hover:scale-110'>
					<img src={linkedin.src} class="size-16">
				</a>
			</nav>
	</section>
</div>
